#aboutTeraphy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;
    position: relative;
    margin-top: 8vw;
}

#arrowIcon {
    padding-top: 3vh;
    font-size: 5vh;
    color: #ec0673;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #ffb500;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50%;
    position: absolute;
    left: 25.5vw;
}

.colour {
    color: #ec0673;
    font-weight: 740;
}

.highlightTherapy {
    color: #adb92a;
    font-size: 1.52vw;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace
}

.ideas {
    display: flex;
    align-items: center;
}

#paper {
    width: 35vw;
    z-index: -1;
}

.paragraph {
    text-align: justify;
    padding: 0 20vw 0 20vw;
    font-size: 1.1vw;
}

.paragraphIdea {
    text-align: justify;
    margin-bottom: 0.2vw;
    padding: 0 25vw 0 29vw;
    font-size: 1.1vw;
}

.phrase {
    color: white;
    position: relative;
    top: 6vw;
    left: 8.6vw;
    font-size: 1.2vw;
    font-weight: bold;
    font-family: monospace;
}

#psicoTitle {
    margin-top: 12vw;
    font-size: 1.3vw;
}

.sofa {
    position: absolute;
    width: 70vw;
    z-index: -1;
}