#AboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10rem auto;
    height: 49rem;
    width: 100%;
}

.card {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4rem;
    padding: 6.5rem 1rem 0 1rem;
    width: 15rem;
    font-size: 1rem;
}

.cards {
    display: flex;
    flex-direction: row;
}

.highlightDegree {
    color: #ec0673;
    font-size: 1.45rem;
    font-weight: bold;
}

.highlight {
    color: #adb92a;
    font-size: 1.45rem;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace
}

.box {
    width: 21rem;
    margin: 3rem 1rem;
    padding: 0 1rem;
    position: absolute;
    z-index: -1;
}

.educationBox {
    left: 10rem;
}

.experienceBox {
    left: 35rem;
}

.hobbiesBox {
    left: 60rem;
}

.title {
    width: 100%;
    text-align: center;
    margin: 0 0 1rem 0 !important;
    color: white;
    font-size: 3rem;
    background-color: #fc8876;
    font-family: 'Courier New', Courier, monospace;
}
