#aboutTeraphy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;
    position: relative;
}

#arrowIcon {
    padding-top: 1vh;
    font-size: 5vh;
    color: #ec0673;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #ffb500;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50%;
    position: absolute;
    left: 25.5vw;
}

.colour {
    color: #ec0673;
    font-weight: 740;
}

.highlightTherapy {
    color: #adb92a;
    font-size: 1.52vw;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace
}

.ideas {
    display: flex;
    align-items: center;
}

#paper {
    width: 35vw;
    z-index: -1;
}

.paragraph {
    text-align: justify;
    padding: 0 20vw 0 20vw;
    font-size: 1.1vw;
}

.paragraphIdea {
    text-align: justify;
    margin-bottom: 0.2vw;
    padding: 0 25vw 0 29vw;
    font-size: 1.1vw;
}

.phrase {
    color: white;
    position: relative;
    top: 6vw;
    left: 8.6vw;
    font-size: 1.2vw;
    font-weight: bold;
    font-family: monospace;
}

.phraseImg {
    position: absolute;
    width: 50vw;
    z-index: -1;
    left: 33.5vw;
    top: 5vw;
}

#psicoTitle {
    margin-top: 12vw;
    font-size: 1.3vw;
}

.sofa {
    position: absolute;
    width: 25vw;
    z-index: -1;
    align-self: flex-start;
    left: 9vw;
}

@media screen and (max-width: 600px) {
    #aboutTeraphy {
        margin-top: 0;
    }
    .circle {
        width: 4.5vw;
        height: 4.5vw;
        border-radius: 50%;
        position: absolute;
        left: 14.5vw;
    }
    .highlightTherapy {
        font-size: 2.8vw;
    }
    .imageContainer {
        display: flex;
        flex-direction: column-reverse;
    }
    #paper {
        width: 55vw;
    }
    .paragraph {
        padding: 0 14vw 0 14vw;
        font-size: 2.8vw;
    }
    .paragraphIdea {
        padding: 0 17vw 0 21vw;
        font-size: 2.8vw;
    }
    .phrase {
        font-size: 2.2vw;
        position: absolute;
        top: 15vw;
        left: 15.5vw;
    }
    .phraseImg {
        position: relative;
        width: 85vw;
        left: auto;
    }
    #psicoTitle {
        font-size: 3vw;
        margin-top: 8vw;
        margin-bottom: 0;
    }
    .sofa {
        position: absolute;
        width: 120vw;
        left: -42vw;
        top: 8vw;
        padding-top: 5vw;
        opacity: 0.1;
        align-self: unset;
    }
}