#contact {
    margin-bottom: 2vw;
    padding: 4vw;
    margin-top: 8vw;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #fc8876;
    justify-content: center;
    align-items: center;
}

#contactInte {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contactForm {
    align-items: center;
    justify-content: center;
}

.contactInstagram {
    width: 3.1vw;
    clip-path: circle(1.1vw at center);
}

.contactTitle {
    font-size: 1.3vw;
}

#divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.gmail {
    width: 2vw;
    padding: 0 0.6vw;
}

#firstName,
#lastName,
#email {
    margin-bottom: 0.5vw;
    width: 26vw;
    height: 2vw;
    font-size: 0.9vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 0.5vw;
    padding: 0.2vw;
}

.imgPsico {
    width: 10vw;
    clip-path: circle();
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoContact {
    font-size: 1.05vw;
}

#message {
    width: 26vw;
    height: 10vw;
    font-size: 0.9vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 0.5vw;
    padding: 0.2vw;
}

#o {
    font-size: 1vw;
    margin: auto;
}

.separatoryLine {
    background-color: white;
    width: 0.1vw;
    height: 9vw;
    margin: 0.5vw 5vw;
}

.sendButton {
    font-size: 0.9vw;
    margin-top: 0.5vw;
    width: 4vw;
    height: 2vw;
    color: gray;
    border: solid gray 0.1vw;
    background-color: rgb(190, 178, 178);
    border-radius: 1vw;
}

.sendButtonEn {
    background: none;
    color: white;
    border: solid white 0.1vw;
    cursor: pointer;
}

.subtitle {
    font-size: 1.05vw;
}

.WhatsApp {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    width: 2vw;
}

@media screen and (max-width: 600px) {
    .contactInstagram {
        margin-top: 1vw;
        width: 6vw;
        clip-path: circle(2vw at center);
    }
    #contactInte {
        flex-direction: column;
    }
    .contactTitle {
        font-size: 3vw;
    }
    .gmail {
        width: 4vw;
        margin: 1.2vw;
        margin-right: 1.3vw;
    }
    #firstName,
    #lastName,
    #email {
        margin-bottom: 0.5vw;
        width: 60vw;
        height: 4.5vw;
        font-size: 2.8vw;
        padding: 0.2vw;
    }
    .imgPsico {
        width: 28vw;
        clip-path: circle();
    }
    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .infoContact {
        font-size: 2.8vw;
        margin: 0;
    }
    #information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #message {
        width: 60vw;
        height: 30vw;
        font-size: 2.8vw;
        margin-top: 1vw;
    }
    #o {
        display: none;
    }
    .sendButton {
        font-size: 2.8vw;
        margin-top: 0vw;
        width: 12vw;
        height: 4.3vw;
        border-radius: 2vw;
    }
    .separatoryLine {
        display: none;
    }
    .subtitle {
        font-size: 2.8vw;
        margin: 0.5vw auto;
    }
    .WhatsApp {
        margin-right: 1.5vw;
        margin-left: 1vw;
        width: 3.7vw;
    }
}