#contact {
    margin-bottom: 2vw;
    padding: 4vw;
    margin-top: 8vw;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #fc8876;
    justify-content: center;
    align-items: center;
}
#contactInte {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactInstagram {
    width: 3.1vw;
    margin-left: 0.5vw;
    clip-path: circle(1.1vw at center);
}
.contactTitle {
    font-size: 1.3vw;
}
#divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.gmail {
    width: 4vw;
    clip-path: circle(0.91vw at center);
}
.MuiInputBase-formControl {
    margin-bottom: 1vw !important;
}
#firstName,
#lastName,
#email {
    width: 26vw;
    height: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    padding: 0.5vw;
    border: none;
    border-radius: 0.5vw;
}
.imgPsico {
    width: 10vw;
    clip-path: circle();
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.infoContact {
    font-size: 1.05vw;
}
#information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formContainer {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 1vw;
    margin: 0.2vw 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#message {
    width: 26vw;
    font-size: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 10vw;
    padding: 0.5vw;
    border: none;
    border-radius: 0.5vw;
}
#o {
    font-size: 1vw;
    margin: auto;
}
.separatoryLine {
    background-color: white;
    width: 0.1vw;
    height: 9vw;
    margin: 0.5vw 5vw;
}
.sendButton {
    font-size: 0.9vw;
    margin-top: 0.5vw;
    width: 4vw;
    height: 2vw;
    color: white;
    border: solid white 0.1vw;
    background: none;
    border-radius: 1vw;
    align-self: flex-end;
    cursor: pointer;
}
.subtitle {
    font-size: 1.05vw;
}
.WhatsApp {
    margin-right: 0.5vw;
    margin-left: 1vw;
    width: 2vw;
}

@media screen and (max-width: 600px) {
    .contactInstagram {
        margin-top: 1vw;
        width: 6vw;
        clip-path: circle(2vw at center);
    }
    #contactInte {
        flex-direction: column;
    }
    .contactTitle {
        font-size: 3vw;
    }
    .gmail {
        width: 6.9vw;
        clip-path: circle(1.7vw at center);
    }
    #firstName,
    #lastName,
    #email {
        width: 60vw;
        font-size: 2.8vw;
        padding: 1.7vw;
    }
    .imgPsico {
        width: 28vw;
        clip-path: circle();
    }
    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .infoContact {
        font-size: 2.8vw;
        margin: 0;
    }
    #information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    label {
        font-size: 2.5vw;
    }
    #message {
        width: 60vw;
        font-size: 2.8vw;
        padding: 1.7vw;
        height: 20vw;
    }
    .MuiInputBase-formControl {
        margin-bottom: 3vw !important;
    }
    #o {
        display: none;
    }
    .sendButton {
        font-size: 2.8vw;
        margin-top: 0.5vw;
        width: 12vw;
        height: 4.3vw;
        border-radius: 2vw;
    }
    .separatoryLine {
        display: none;
    }
    .subtitle {
        display: none;
    }
    .WhatsApp {
        margin-right: 1.5vw;
        margin-left: 1vw;
        width: 3.7vw;
    }
}