.App-logo {
    width: 35vw;
    height: auto;
}

.circles {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2vw;
}

.circleShape {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    margin-top: 0.5vw;
}

.circleAboutMe {
    background-color: #009494;
}

.circleAboutTherapy {
    background-color: #c3c888;
}

.circleResearch {
    background-color: #ec0673;
}

.circleContact {
    background-color: #fc8876;
}

#homeBody {
    padding-top: 5vw;
}

#line {
    height: 0.08vw;
    border: none;
    color: #fc8876;
    background-color: #fc8876;
    width: 100%;
    margin: 1rem auto;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vw;
    background-image: url("../bg.png");
    background-size: cover;
}

#sign {
    padding-right: 1vw;
    text-align: end;
    font-size: 0.8rem;
    opacity: 0.5;
}