.App-logo {
    width: 35rem;
    height: auto;
}

#homeBody {
    padding-top: 5rem;
}

#line {
    height: 0.08rem;
    border: none;
    color: #fc8876;
    background-color: #fc8876;
    width: 100%;
    margin: 0 auto;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42rem;
}

#sign {
    padding-right: 1rem;
    text-align: end;
    font-size: 0.8rem;
    opacity: 0.5;
}