.navbar {
    display: flex;
    height: 3vw;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background-color: #009494;
    position: fixed;
    z-index: 200;
}

.linkNavBar {
    text-decoration: none;
    color: white;
    font-size: 1.1vw;
}