.instagram {
    width: 4vw;
    margin-right: 0.7vw;
    clip-path: circle(1.7vw at center);
}

.linkGoogleResearch {
    width: 3.4vw;
    clip-path: circle(1.7vw at center);
}

.linkOrcid {
    width: 5.7vw;
    clip-path: circle(1.65vw at center);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vw;
}

.paragraphResearch {
    font-size: 1.07vw;
    text-align: justify;
    padding: 0 29vw 0rem 29vw;
    margin: 0.5vw 0;
}

#research {
    height: 43.5vw;
    position: absolute;
    z-index: -1;
}

#researchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 8vw;
}

.titles {
    font-size: 1.5vw;
}