.instagram {
    width: 4rem;
    margin-right: 0.7rem;
    clip-path: circle(1.5rem at center);
}

.linkGoogleResearch {
    width: 3.2rem;
    clip-path: circle(1.6rem at center);
}

.linkOrcid {
    width: 5.3rem;
    clip-path: circle(1.6rem at center);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.paragraphResearch {
    text-align: justify;
    padding: 0 28rem 0rem 28rem;
    margin: 0.5rem 0;
}

#research {
    height: 42rem;
    position: absolute;
    left: 21rem;
    z-index: -1;
}

#researchContainer {
    padding: 20rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
